/* reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* styles */
body {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    display: flex;
}

main {
    width: calc(100% - 300px);
}

.sidebar {
    background-color: #18516c;
    width: 300px;
    height: 100vh;
    z-index: 1;
}

.nav-image {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/nav_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-image img {
    width: 40%;
    border-radius: 50%;
    border: 3px solid #fff;
}

.nav-links ul li {
    margin: 25px 0px;
    padding: 0px 30px;
}

.nav-links ul li a {
    color: #fff;
}

.nav-links ul li span {
    padding: 0px 5px;
}

.nav-links ul li a:hover {
    font-size: larger;
    transition: 0.4s;
}

.nav-social-medias {
    font-size: 18px;
    padding: 0px 40px;
    position: fixed;
    bottom: 35px;
}

.nav-social-medias a {
    color: #fff;
}

.nav-social-medias a:hover {
    font-size: larger;
    transition: 0.4s;
}

.nav-social-medias i {
    margin: 0px 27px;
}

.nav-footer {
    color: #fff;
    width: 300px;
    font-size: small;
    position: fixed;
    bottom: 10px;
}

.nav-footer p {
    text-align: center;
}

.experience {
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #020d18;
}

.experience h2 {
    text-align: center;
    font-family: "Pacifico", cursive;
    font-size: 3em;
    margin: 50px;
}

.experience-snd-row {
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}

.experience-snd-row section img {
    width: 30%;
    border-radius: 50%;
}

.cards {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    padding: 30px;
    background-color: #18516c;
    border-radius: 15px;
    border-top: 10px solid #114157;
    border-left: 10px solid #114157;
}

.cards h3 {
    text-align: center;
    margin-bottom: 10px;
}

.cards-snd-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cards img {
    max-width: 130px;
    max-height: 130px;
}

.cards p {
    text-align: center;
    padding: 20px;
}

.cards span {
    text-align: end;
}
