body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0px;
}

.visualizeitor-header {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #f4f4f2;
    background-color: #191013;
}

.visualizeitor-header h1 {
    text-align: center;
    margin: 0px;
    padding: 20px;
}

.visualizeitor-main {
    width: 100%;
    height: 87vh;
    background-color: #243a69;
}

.visualizeitor-searchbar {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.visualizeitor-searchbar-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.visualizeitor-searchbar-input {
    width: 25%;
    padding: 16px;
    border: 0px;
    outline: none;
}

.visualizeitor-searchbar-button {
    width: 3%;
    border: 0px;
    cursor: pointer;
    color: #f4f4f2;
    background-color: #191013;
}

.visualizeitor-searchbar-button:hover {
    background-color: #191013a2;
}

.visualizeitor-searchbar-input::placeholder {
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.visualizeitor-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 4rem;
}

.visualizeitor-table-title {
    color: #f4f4f2;
}

.visualizeitor-table table,
tr,
th,
td {
    color: #f4f4f2;
    border: 1px solid #f4f4f2;
    border-collapse: collapse;
}

.visualizeitor-table table {
    text-align: center;
}

.visualizeitor-table td {
    width: 140px;
    height: 70px;
}

.visualizeitor-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background-color: #191013;
}
