<h1 class="text-center fw-bold mb-4">Editing player</h1>

<div class="d-flex flex-column align-items-center w-100">
  <div class="d-flex flex-column align-items-center rounded-4 bg-c4 w-50 py-3 mb-2">
    <%= render "form", player: @player %>
    <button type="button" class="btn btn-lg bg-c2 rounded-4 align-self-center my-3">
      <a class="text-black text-decoration-none px-4" href="/players/<%= @player.id %>">Show player</a>
    </button>
  </div>
  <button type="button" class="btn btn-lg bg-c2 rounded-4 align-self-center mb-5">
    <a class="text-black text-decoration-none px-4" href="/players">Back to Players</a>
  </button>
</div>
