<div id="<%= dom_id document %>">
  <p>
    <strong>Number:</strong>
    <%= document.number %>
  </p>

  <p>
    <strong>Emission:</strong>
    <%= document.emission %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= document.player_id %>
  </p>

</div>
