<div id="<%= dom_id tournament %>">
  <p>
    <strong>Name:</strong>
    <%= tournament.name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= tournament.country %>
  </p>

  <p>
    <strong>Foundation year:</strong>
    <%= tournament.foundation_year %>
  </p>

</div>
