<div>
    <header>
        <nav class="navbar navbar-expand-lg bg-c3">
            <div class="navbar-wrapper container-fluid">
                <h2 class="fw-bold" href="#">Soccer Club</h2>
                <div class="d-flex" id="navbarNav">
                    <a class="text-black fs-5 px-5" href="/players">Players</a>
                    <a class="text-black fs-5 px-5" href="/documents">Documents</a>
                    <a class="text-black fs-5 px-5" href="/teams">Teams</a>
                    <a class="text-black fs-5 px-5" href="/tournaments">Tournaments</a>
                </div>
                <%= render 'layouts/account_links' %>
            </div>
        </nav>
    </header>
</div>